<div class="page-header">
  <h1><%= @person1.name %> vs. <%= @person2 %></h1>
</div>

<div class="row">
  <div class="span6">
    <h3>{{ fighter1.name }}</h3>
    <p><i class="icon-heart"></i> <span id="p2hp"><%= @person1.hp %></span> / <%= @person1.hp %></p>
    <p><i class="icon-text-height"></i> <%= @person1.tallness %></p>
    <p><i class="icon-magic"></i> <%= @person1.l337n355 %></p>
    <p><i class="icon-hand-right"></i> <%= @person1.swag %></p>
    <p><i class="icon-coffee"></i> <%= @person1.caffeination %></p>
  </div>
  <div class="span6">
    <h3><%= @person2 %></h3>
    <p><i class="icon-heart"></i> <span id="p2hp"><%= @person2.hp %></span> / <%= @person2.hp %></p>
    <p><i class="icon-text-height"></i> <%= @person2.tallness %></p>
    <p><i class="icon-magic"></i> <%= @person2.l337n355 %></p>
    <p><i class="icon-hand-right"></i> <%= @person2.swag %></p>
    <p><i class="icon-coffee"></i> <%= @person2.caffeination %></p>
  </div>
</div>